body{   
    background: #fff; 

}  
.logo{
  margin-top: 70px;

}
#frm{  
    border: solid #333 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 50px auto;  
    background-color: #333;
    padding: 50px;  
}  

  h1, label {
    width:25%; 
    color: white;
  }

  h2 {
    padding-left: 20px;
    margin: 20px auto; 
  }

  img.logo1 {
    width: 35%;
    height: 10%;
    padding: 5px;
    margin-left: 20px;
  }

  strong.title {
    color: #fff;
    font-size: 41px;
    margin-bottom: 20px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


input[type=submit] {
    width: 100%;
    background-color: #097068;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }